body {
	padding: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

h1 {
	color: 15px;
}
#places-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.place {
	border: 1px solid black;
	padding: 20px;
	width: auto;
}
